<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
     	<!-- load the properties file from src -->
    
    <context:property-placeholder location="classpath:sport.properties" />
	
    <!-- Define your beans here -->
    
    <!--  Define the dependency -->
 	<bean id = "myFortune" 
 	class = "com.mikecode.springcoach.HappyFortuneService"
 	>
 	
 	
 	
 	</bean>   
 
    
 	<bean id="myCoach"
 		class="com.mikecode.springcoach.TrackCoach">	 		
 		
 		
 		<!--  Setup the constructor injection -->
 		<constructor-arg ref="myFortune" />
 	</bean>
 	
 	<bean id="myCricketCoach" 
 	class="com.mikecode.springcoach.CricketCoach">
 	
 	<!--  Setup setter injection -->
 	<property name="fortuneService"  ref="myFortune"></property>
 	
 	
 	<!--  Literal values -->
 	
 	<!-- <property name="emailAdd"  value="miwady@mail.ru"></property> // will call setEmailAdd
 	
 	<property name="team"  value="Mike Inc"></property> // will call setTeam -->
 	<property name="emailAdd"  value="${foo.email}"></property>	
 	<property name="team"  value="${foo.team}"></property>
 		
 	<!--  -->
 	
 	
 	</bean>
    
</beans>





